@font-face {
  font-family: 'Ecb';
  src:  url('../fonts/EuclidCircularB-Bold.otf');
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Ecl';
  src:  url('../fonts/EuclidCircularB-Light.otf');
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Ecr';
  src:  url('../fonts/EuclidCircularB-Regular.otf');
  font-style: normal;
  font-display: block;
}
*{margin:0px; padding:0px;}
html{margin:0px; padding:0px;}
body{background-color:#FFF;}
li{list-style:none;}

.itit{height:1rem; text-align:center; line-height:1rem; font-family:"Ecr"; font-size:0.38rem; margin-bottom:0.2rem; margin-top:0.1rem; position:relative}
.itit span{display:block; width:0.5rem; height:0.5rem; position:absolute; background:url(../images/left_btn_arrow.png) center center no-repeat; background-size:100% auto; left:0.25rem; top:0.15rem;}
.mtit{height:1rem; line-height:1rem; font-family:"Ecr"; font-size:0.38rem; margin-bottom:0.2rem; padding-top:0.4rem; margin-left:5%;}
.mtit span{display:block; width:0.8rem; height:0.8rem; float:left;background:url(../images/android-chrome-384x384.png) center center no-repeat; background-size:100% auto; margin-right:0.4rem}
.itms{text-align:center;background-color:#FFF;}
.itms div{background-color:#FFF;}
.itms div h3{line-height:1rem; height:1rem; font-family:"Ecb";font-size:0.4rem;}
.itms div p{line-height:0.38rem; height:0.38rem; font-family:"Ecr";font-size:0.26rem; width:75%; margin:0px auto}
.itms div img.im1{width:65%; margin-top:1rem}
.itms div img.im2{width:80%; margin-top:1.6rem}
.itms div img.im3{width:80%; margin-top:1.4rem}
.iftoot{position:fixed; width:100%; left:0; bottom:0.7rem; height:1rem; text-align:center}
.iftoot .ibtn{width:80%; height:0.95rem; line-height:0.95rem; border:#037dd6 solid 1px;font-family:"Ecb";font-size:0.28rem; font-weight:600; letter-spacing:0.05rem; color:#037dd6; background-color:transparent; border-radius:0.48rem; margin:0px auto}
.titlebox{text-align:center;}
.titlebox{margin-top:0.3rem;}
.titlebox h3{font-family:"Ecl";font-size:0.48rem; font-weight:600; letter-spacing:0.05rem; line-height:0.5rem }
.titlebox p{font-family:"Ecl";font-size:0.24rem; line-height:0.3rem; margin-top:0.5rem}
.mtitbox{ width:90%; margin:0px auto;margin-top:0.3rem;}
.mtitbox h3{font-family:"Ecl";font-size:0.4rem; font-weight:600; letter-spacing:0.05rem; line-height:0.5rem }
.mtitbox p{font-family:"Ecl";font-size:0.24rem; line-height:0.45rem; margin-top:0.3rem; margin-bottom:0px;}
.mtitbox span{font-family:"Ecl";font-size:0.24rem; margin-top:0px; display:block; margin-top:0.2rem}
.foot{position:fixed; width:100%; left:0; bottom:0.7rem; text-align:center; margin:0px; padding:0px;}
.foot .ibtn{width:50%; height:1rem; line-height:1rem; border:#037dd6 solid 1px;font-family:"Ecb";font-size:0.28rem; font-weight:600; letter-spacing:0.05rem; color:#037dd6; background-color:transparent; border-radius:0.48rem; margin:0px auto;}
.foot .ibtnfull{width:50%; height:1rem; line-height:1rem; border:#037dd6 solid 1px;font-family:"Ecb";font-size:0.28rem; font-weight:600; letter-spacing:0.05rem; color:#FFF; background-color:#037dd6; border-radius:0.48rem; margin:0px auto}
.foot p{font-size:0.24rem; font-family:"Ecl"; color:#999; margin-top:0.2rem; text-align:center}

.infoture{ box-sizing:border-box;font-family:"Ecl";font-size:0.24rem; line-height:0.4rem; background:url(../images/icon_transaction_list_check.png) left center no-repeat; background-size:auto 100%;width:90%; margin:0px auto;margin-top:0.3rem; padding-left:0.5rem;}
.infofalse{ box-sizing:border-box;font-family:"Ecl";font-size:0.24rem; line-height:0.4rem; background:url(../images/icon_transaction_list_close.png) left center no-repeat; background-size:auto 100%;width:90%; margin:0px auto;margin-top:0.3rem; padding-left:0.5rem;}
.infofalse span{font-weight:bold; margin-right:0.05rem}
.infohui{}
.infohui p{font-family:"Ecl";font-size:0.24rem; line-height:0.35rem;width:90%; margin:0px auto;margin-top:0.2rem; color:rgba(204,204,204,0.8)}

.mfoot{position:fixed; width:100%; left:0; bottom:0.4rem; text-align:center; margin:0px; padding:0px;}
.mfoot .ibtn{width:45%; height:1rem; line-height:1rem; border:#037dd6 solid 1px;font-family:"Ecb";font-size:0.28rem; font-weight:600; letter-spacing:0.05rem; color:#037dd6; background-color:transparent; border-radius:0.48rem; margin:0px auto; display:inline-block}
.mfoot .ibtnfull{width:45%; height:1rem; line-height:1rem; border:#037dd6 solid 1px;font-family:"Ecb";font-size:0.28rem; font-weight:600; letter-spacing:0.05rem; color:#FFF; background-color:#037dd6; border-radius:0.48rem; margin:0px auto;display:inline-block}
.showinfobox{position:fixed; z-index:999; background-color:rgba(0,0,0,0.4); width:100%; height:100%; left:0;top:0;}
.showinfobox .sfbox{width:90%; height:80%; position:absolute; background-color:#FFF; left:5%;top:10%; border-radius:0.3rem;}
.showinfobox .sfbox h3{font-size:0.34rem; text-align:center; margin-top:0.2rem;}
.showinfobox .sfbox .infobox{height:65%; overflow:scroll; width:90%; margin-left:5%; margin-top:0.4rem}
.showinfobox .sfbox .infobox h4{font-size:0.58rem; font-family:"Ecl";text-align:center; margin-top:0.3rem}
.showinfobox .sfbox .infobox h5{font-size:0.24rem; font-family:"Ecl";text-align:center}
.showinfobox .sfbox .infobox p{font-size:0.24rem; font-family:"Ecl"; line-height:0.35rem; margin-top:0.2rem;}
.showinfobox .sfbox .chkbox{font-size:0.28rem; font-family:"Ecl"; line-height:0.35rem; width:90%; margin-left:5%; margin-top:0.3rem; background:url(../images/check.png) left top no-repeat; background-size:auto 50%; box-sizing:border-box; padding-left:0.5rem; font-weight:bold}
.showinfobox .sfbox .actbtn{background-color:#037dd6; height:0.7rem; line-height:0.7rem; color:#FFF;font-family:"Ecl"; font-size:0.24rem; display:block; width:90%; border:none; border-radius:0.35rem; margin:0px auto; margin-top:0.3rem;}
.showinfobox .sfbox .ydxx{font-size:0.24rem; font-family:"Ecl"; text-align:center; margin-top:0.2rem}

.frmbox{width:85%; margin:0px auto;}
.fm2{margin-top:0.6rem;}
.frmbox .xtit{line-height:0.4rem; height:0.4rem; margin-top:0.8rem}
.frmbox .xtit span{float:left; line-height:0.4rem; font-size:0.32rem; font-family:"Ecl"; display:block}
.frmbox .xtit span.rt{float:right;}
.fm2 .xtit span{font-size:0.24rem;}
.frmbox .zhujici{width:100%; outline:none; box-sizing:border-box; height:2rem; padding:0.2rem;line-height:0.5rem;font-size:0.32rem; font-family:"Ecl"; border:#CCC solid 1px; border-radius:0.1rem; margin-top:0.1rem;transition:all ease-in-out 0.5s}
.frmbox .zhujici:focus{border:#037dd6 solid 1px;}
.frmbox .txtpwd{width:100%; outline:none; box-sizing:border-box; padding:0.2rem;line-height:0.6rem;font-size:0.32rem; font-family:"Ecl"; border:#CCC solid 1px; border-radius:0.1rem; margin-top:0.1rem; display:block; transition:all ease-in-out 0.5s}
.frmbox .txtpwd:focus{border:#037dd6 solid 1px;}
.frmbox p{font-size:0.24rem; font-family:"Ecl"; color:#999; margin-top:0.2rem}
.frmbox .ibtnfull{width:100%; height:0.9rem; line-height:0.9rem; font-family:"Ecb";font-size:0.28rem; font-weight:600; letter-spacing:0.05rem; color:#FFF; background-color:#037dd6; border-radius:0.48rem; margin:0px auto; border:none}
.frmbox .ibtnfull[disabled]{ opacity:0.5}
.frmbox .chkbox{font-size:0.24rem; font-family:"Ecl"; line-height:0.35rem; margin-top:0.3rem; background:url(../images/check.png) left top no-repeat; background-size:auto 80%; box-sizing:border-box; padding-left:0.4rem;}
.frmbox .chkbox span{color:#037dd6; text-decoration:underline}
.frmbox ul{border:#CCC solid 1px; border-radius:0.3rem; margin-top:0.3rem; height:4.5rem; padding:0.2rem 0px}
.frmbox ul.wordlist li{float:left; width:36%;font-size:0.24rem; font-family:"Ecl"; text-align:center; margin:0.1rem 7%; line-height:0.5rem; border:#037dd6 solid 1px; box-sizing:border-box; border-radius:0.2rem}
.frmbox ul.clrli li{ float:left;width:36%;font-size:0.24rem; font-family:"Ecl"; text-align:center; margin:0.12rem 7%; height:0.5rem;line-height:0.5rem; z-index:999}
.frmbox ul.clrli li span{display:inline-block; width:80%; border:#CCC dashed 1px; line-height:0.5rem; border-radius:0.2rem; height:0.5rem; box-sizing:border-box; margin-left:0.1rem}
.frmbox ul.clrli li span.cur{border:#037dd6 dashed 1px;}
.frmbox ul.clrli li span.ths{border:#037dd6 solid 1px;}
.frmbox dl{ margin-top:0.2rem}
.frmbox dl dd{float:left; width:30%;font-size:0.24rem; font-family:"Ecl"; text-align:center; margin-right:5%; line-height:0.5rem; border:#037dd6 solid 1px; box-sizing:border-box; border-radius:0.2rem; margin-top:0.15rem; transition:all ease-in-out 0.5s}
.frmbox dl dd:nth-child(3n){margin-right:0px;}
.frmbox dl dd.cur{background-color:#999; border:#999 solid 1px;}

.errbox{position:fixed; z-index:999; background-color:rgba(0,0,0,0.4); width:100%; height:100%; left:0;top:0; display:none}
.errbox .ebox{width:86%; position:absolute; left:7%; background-color:#FFF; border-radius:0.1rem; top:50%; box-sizing:border-box; padding:0.3rem; height:2.8rem; margin-top:-1.4rem}
.errbox .ebox h3{font-size:0.52rem; font-family:"Ecb";}
.errbox .ebox p{font-size:0.32rem; font-family:"Ecl"; margin-top:0.1rem}
.errbox .ebox .btnok{float:right; border:none; background-color:transparent; font-size:0.32rem; font-family:"Ecb"; margin-top:0.4rem }

.stepbox{ text-align:center; position:relative}
.stepbox .sp{display:inline-block; text-align:center; width:30%}
.stepbox .sp span{display:block; width:0.4rem; height:0.4rem; text-align:center; line-height:0.4rem; font-size:0.1rem; border-radius:50%; border:#CCC solid 2px; margin:0px auto; color:#CCC; background-color:#FFF }
.stepbox .lne{position:absolute; width:70%; left:15%; top:0.45rem; height:2px; background-color:#CCC; z-index:-1}
.stepbox .lne .ln1{height:2px; background-color:#037dd6; width:50%;}
.stepbox .lne .ln2{height:2px; background-color:#037dd6; width:100%;}
.stepbox .sp p{font-family:"Ecl";font-size:0.1rem; margin-top:0.1rem; color:#CCC }
.stepbox .cur span{color:#000; border:#037dd6 solid 2px;}
.stepbox .cur p{color:#037dd6;}
.stepbox .ts span{color:#FFF; border:#037dd6 solid 2px; background-color:#037dd6}
.stepbox .ts p{color:#037dd6;}

.shuoming{width:100%; margin:0px auto;font-size:0.28rem; font-family:"Ecl"; text-align:center; display:block}
.shuoming a{text-decoration:none; color:#037dd6; margin:0px 0.05rem}
.shuoming span{font-weight:600;}
.banner{width:90%; margin:0px auto; background-color:rgba(204,204,204,0.7); padding:0.4rem 0px; border-radius:0.3rem; margin-top:0.5rem}
.logo{width:1.5rem; margin:0px auto; margin-top:1rem;}
.logo img{width:100%;}
.waitbox{text-align:center; margin-top:0.5rem}
.waitbox h3{font-size:0.52rem; font-family:"Ecl"; font-weight:normal}
.waitbox p{font-size:0.28rem; font-family:"Ecl"; margin-top:0.3rem}
.loader {
  border: 0.06rem solid rgba(0, 0, 0, 0.1); /* 轻颜色的边框 */
  border-radius: 50%; /* 圆形 */
  border-top: 0.06rem solid #000; /* 黑色的顶部边框，形成旋转的感觉 */
  width: 0.5rem; /* 加载器的宽度 */
  height: 0.5rem; /* 加载器的高度 */
  animation: spin 2s linear infinite; /* 无限循环的旋转动画 */
  margin:0px auto; margin-top:0.4rem
}
 
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header-tit{ height: 1rem; border-bottom: 0.012rem solid #efefef; }
.header-tit h2{ text-align: center; line-height: 1rem; font-size: 0.32rem; font-weight: bolder;  }
.addrbox{width:90%; margin:0px auto; background:url(../imgs/usdt.png) right top no-repeat; background-size: auto 90%; background-color:#408ebf;  margin-top:0.3rem; border-radius:0.1rem; padding:0.3rem 0.4rem; box-sizing:border-box}
.addrbox h3{font-weight:normal; color:#FFF; font-size:0.38rem; margin-top:0.1rem}
.addrbox span{font-size:0.28rem; color:#FFF; line-height:0.3rem; margin-top:0.1rem; background:url(../imgs/0t.png) right center no-repeat; background-size:auto 90%;padding-right:0.4rem; float:left; opacity:0.7}
.addrbox .qian{ text-align:right; font-size:0.48rem; color:#FFF; width:100%; margin-top:0.4rem; font-weight:bold; position:relative} 
.addrbox .qian p{display:inline-block; font-weight:normal; font-size:0.28rem; position:absolute; right:1.2rem}
.caidanbox{width:90%; margin:0px auto;margin-top:0.3rem; border:#CCC solid 1px; border-radius:0.1rem; padding:0.2rem; box-sizing:border-box;; text-align:center;display:flex}
.caidanbox div{display:inline-block; width:25%; font-size:0.28rem; background:url(../imgs/iconzz.png) center top no-repeat; background-size:30% auto ; padding-top:0.6rem }
.caidanbox div.i2{background:url(../imgs/iconsk.png) center top no-repeat;background-size:30% auto ;}
.caidanbox div.i3{background:url(../imgs/iconjl.png) center top no-repeat;background-size:30% auto ;}
.caidanbox div.i4{background:url(../imgs/iconzy.png) center top no-repeat;background-size:30% auto ;}
.hbox{width:90%; margin:0px auto; margin-top:0.3rem}
.hbox .htit{line-height:0.4rem;}
.hbox  .htit span{color:#999; display:inline-block; font-size:0.32rem; margin-right:0.3rem; padding-bottom:0.05rem}
.hbox  .htit span.cur{ font-weight:bold; color:#000; border-bottom:#000 solid 0.04rem;}
.bx{ margin:0px auto; margin-top:0.2rem; display:flex; padding:0.2rem 0rem}
.bx .b1{background:url(../imgs/eth.png) center center no-repeat; width:15%; background-size: auto 80% } 
.bx .b2{background:url(../imgs/btc.png) center center no-repeat; width:15%; background-size: auto 80% } 
.bx .b3{background:url(../imgs/bhp.png) center center no-repeat; width:15%; background-size: auto 80% } 
.bx .b4{background:url(../imgs/asm.png) center center no-repeat; width:15%; background-size: auto 80% } 
.bx .b5{background:url(../imgs/far.png) center center no-repeat; width:15%; background-size: auto 80% } 
.bx .b6{background:url(../imgs/bgh.png) center center no-repeat; width:15%; background-size: auto 80% } 
.bx h3{font-size:0.38rem; width:30%; color:#000; font-weight:bold; line-height:0.75rem; margin-left:0.2rem;border-bottom:rgba(204,204,204,0.7) solid 1px; padding-bottom:0.2rem}
.bx .xx{width:60%; text-align:right; border-bottom:rgba(204,204,204,0.7) solid 1px; padding-bottom:0.2rem}
.bx .xx h4{font-size:0.34rem; line-height:0.4rem; color:#000}
.bx .xx p{font-size:0.26rem; line-height:0.35rem; color:#999}
.munebox{ position:fixed; width:100%; left:0; bottom:0; border-top:rgba(204,204,204,0.4) solid 1px; background-color:#FFF; display:flex; padding:0.3rem 0px; text-align:center}
.munebox div{display:inline-block; width:25%; font-size:0.28rem;padding-top:0.6rem;}
.munebox div.i1{background:url(../imgs/iconqb.png) center top no-repeat;background-size:30% auto ; color:#3f8bdf}
.munebox div.i2{background:url(../imgs/iconsc.png) center top no-repeat;background-size:30% auto ;}
.munebox div.i3{background:url(../imgs/iconll.png) center top no-repeat;background-size:30% auto ;}
.munebox div.i4{background:url(../imgs/iconwd.jpg) center top no-repeat;background-size:30% auto ;}


.pwaitbox{position:fixed; width:100%; height:100%; z-index:9999; left:0px; top:0px; background-color:rgba(102,102,102,0.3); display:none }
.pwaitbox .wbox{width:2rem; height:2rem; background:url(../images/gt4-loading.gif) center center no-repeat; background-color:#FFF; border-radius:0.2rem; position:absolute; left:50%; top:50%; margin-left:-1rem; margin-top:-1rem} 
#ddr{
     width:1.65rem; height:1.2rem; padding:0.4rem; background-color:#FFF; border-radius:0.2rem; position:absolute; left:50%; top:50%; margin-left:-1.23rem; margin-top:-1rem
 }
.ddr{
     width: 0.15rem;
     height: 1.2rem;
     float: left;
	 margin-left:0.15rem;
     background-color: #037dd6;
     animation: loading 1s infinite ease-in-out;/*animation：动画名称 持续时间 动画速度曲线 延迟 执行多少次 是否正反方向轮流播放*/
 }
.ddr2{
     animation-delay: -0.9s;/*定义开始执行的地方，负号表示直接从第900ms开始执行*/
 }
 .ddr3{
     animation-delay: -0.8s;
 }
 .ddr4{
     animation-delay: -0.7s;
 }
.ddr5{
     animation-delay: -0.6s;
 }
 @keyframes loading {
     0%,40%,100%{ /*定义每帧的动作*/
         -webkit-transform: scaleY(0.5);
     }
     20%{
         -webkit-transform: scaleY(1);
     }
}
.layui-carousel>[carousel-item]>*{background-color:#FFF;}
.layui-carousel-ind ul{background-color:#FFF;}
.layui-carousel-ind ul li{padding:0px; background-color:#a9a9a9; margin:0px 0.2rem; width:8px; height:8px;}
.layui-carousel-ind ul li.layui-this{ background-color:#232729;}
